In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
df = pd.read_csv('desmatamento_BR.csv')
#tipo de dados da tabela
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   referencia               35 non-null     int64
 1   acre                     35 non-null     int64
 2   amazonas                 35 non-null     int64
 3   amapa                    35 non-null     int64
 4   maranhao                 35 non-null     int64
 5   mato_grosso              35 non-null     int64
 6   para                     35 non-null     int64
 7   rondonia                 35 non-null     int64
 8   roraima                  35 non-null     int64
 9   tocantins                35 non-null     int64
 10  area_total_desmatamento  35 non-null     int64
dtypes: int64(11)
memory usage: 3.1 KB

In [15]:
df.head()

,referencia,acre,amazonas,amapa,maranhao,mato_grosso,para,rondonia,roraima,tocantins,area_total_desmatamento
0,1988,620,1510,60,2450,5140,6990,2340,290,1650,21050
1,1989,540,1180,130,1420,5960,5750,1430,630,730,17770
2,1990,550,520,250,1100,4020,4890,1670,150,580,13730
3,1991,380,980,410,670,2840,3780,1110,420,440,11030
4,1992,400,799,36,1135,4674,3787,2265,281,409,13786

In [16]:
#dimensão da tabela desmatamento
df.shape

(35, 11)

In [17]:
#Renomear colunas
df.rename(columns={
    'referencia':'Ano',
    'acre':'Acre',
    'amazonas':'Amazonas',
    'amapa':'Amapá',
    'maranhao':'Maranhão',
    'mato_grosso':'Mato Grosso',
    'para':'Pará',
    'rondonia':'Rondônia',
    'roraima':'Roraima',
    'tocantins':'Tocantins',
    'area_total_desmatamento':'Área de Desmatamento'
    
}, inplace=True)

In [18]:
df.head()

,Ano,Acre,Amazonas,Amapá,Maranhão,Mato Grosso,Pará,Rondônia,Roraima,Tocantins,Área de Desmatamento
0,1988,620,1510,60,2450,5140,6990,2340,290,1650,21050
1,1989,540,1180,130,1420,5960,5750,1430,630,730,17770
2,1990,550,520,250,1100,4020,4890,1670,150,580,13730
3,1991,380,980,410,670,2840,3780,1110,420,440,11030
4,1992,400,799,36,1135,4674,3787,2265,281,409,13786

In [19]:
#Verificar campos nulos
df.isnull().sum()

Ano                     0
Acre                    0
Amazonas                0
Amapá                   0
Maranhão                0
Mato Grosso             0
Pará                    0
Rondônia                0
Roraima                 0
Tocantins               0
Área de Desmatamento    0
dtype: int64